{{#each posts}}
  <div class="card mt-3">
    <div class="card-header bg-success">
      <a class="text-warning" href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{content}}</p>
        <footer class="blockquote-footer">Posted by {{this.user.username}} on {{format_date createdAt}}</footer>
      </blockquote>
    </div>
  </div>
{{/each}}
