{{#each posts}}
  <div class="card">
    <div class="card-header">
      <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{content}}</p>
        <footer class="blockquote-footer">Posted by {{user.name}} on {{format_date createdAt}}</footer>
      </blockquote>
    </div>
  </div>
{{/each}}

{{!-- {{#each posts}}
  <article class="mb-4">
    <h2><a href="/post/{{id}}">{{title}}</a></h2>
    <p>Created on {{format_date date_created}} by {{user.name}}</p>
  </article>
{{/each}} --}}