<article>
  <h2>{{title}}</h2>
  <p>Posted by {{this.user.username}} on {{format_date createdAt}}</p>
  <div>{{content}}</div>
</article>
<section>
  <h3>Comments</h3>
  {{#each comments}}
    <div>
      <p>{{comment_text}}</p>
      <p>By {{this.user.username}} on {{format_date createdAt}}</p>
      <button class="btn btn-danger mb-2" data-id="{{id}}">Delete The Comment</button>
    </div>
  {{/each}}
  {{#if logged_in}}
    <form id="newCommentForm" class="mt-4 mb-2">
      <div class="form-group">
        <textarea
          id="commentText"
          class="form-control mb-2"
          placeholder="Add a comment..."
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <script src="/js/comment.js"></script>
  {{else}}
    <p><a href="/login">Log in</a> to add a comment.</p>
  {{/if}}
</section>